@page "/notes"
@using Notatnik.Server
@using Notatnik.Shared;
@using Notatnik.Shared.Dtos.NoteDto;
@using Ganss.Xss;

@inject HttpClient Http
@inject NavigationManager NavManager
@inject AuthenticationStateProvider AuthenticationStateProvider
@attribute [Authorize]

<h1>Notes</h1>
<RadzenButton Click=@AddNote Text="Add secure note" ButtonStyle="ButtonStyle.Dark" />
<RadzenButton Click=@AddSecureNote Text="Add note" ButtonStyle="ButtonStyle.Dark" />


<div class="container-fluid">
    <div class="row px-3">
        <div class="col-md-3 p-3">
            @if (notes != null)
            {
                <RadzenCard>
                    <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Notatki</RadzenText>
                    <RadzenListBox @bind-Value=@pressNoteId Data=@notes TextProperty="Title" ValueProperty="NoteId" Change=@checkPassNeed Style="height:70%" Class="w-100" />
                </RadzenCard>
            }
            else
            {
                <RadzenCard>
                    <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Notatki</RadzenText>
                    <RadzenListBox @bind-Value=@pressNoteId TextProperty="Title" ValueProperty="NoteId" Change=@checkPassNeed Style="height:70%" Class="w-100" />
                </RadzenCard>
            }

            @if (isSecure && pressNoteId > 0)
            {
                <EditForm Model="credentials" OnValidSubmit="getNoteDetails">
                    <DataAnnotationsValidator />
                    <div class="mb-3">
                        <label for="password">Podaj haslo notatki</label>
                        <InputText id="password" @bind-Value="credentials.Password" type="password" class="form-control" />
                        <ValidationMessage For="@(() => credentials.Password)" />
                    </div>
                    <div class="text-danger">
                        <span>@errorMessage</span>
                    </div>
                    <RadzenButton type="submit" Text="Show note details" ButtonStyle="ButtonStyle.Dark" />
                </EditForm>
            }
            @if (pressNoteId > 0 && !isSecure)
            {
                <RadzenButton Click=@getNoteDetails Text="Show note details" ButtonStyle="ButtonStyle.Dark" />
            }
        </div>
        <div class="col-md-9 p-3 m-auto">
            @if (note.Title != "")
            {
                <div style="display: flex; justify-content: center; align-items: center; ">
                    <RadzenCard Style="width:60%; background-color:antiquewhite; margin-bottom:20px">
                        <RadzenText TextStyle="TextStyle.H3">@note.Title</RadzenText>
                        <hr style="border: none; background-color: rgba(0,0,10,1); height: 2px; margin: 1rem 0;" />

                        <RadzenText TextStyle="TextStyle.H5">@(((MarkupString)note.Body))</RadzenText>
                        </RadzenCard>
                    </div>
            }
        </div>
    </div>
</div>

@code {
    int pressNoteId = 0;
    bool isSecure = false;
    private string notePassword = "";

    private string errorMessage = string.Empty;

    Credentials credentials = new();

    List<NoteDisplayDto> notes = new List<NoteDisplayDto>();
    NoteDisplayDto note = new NoteDisplayDto
        {
            NoteId = -1,
            Secure = false
        };

    protected override async Task OnInitializedAsync()
    {
        notes = await Http.GetFromJsonAsync<List<NoteDisplayDto>>($"/api/Note/notes-by-user");
    }
    void SecureNote()
    {
        if (note.Secure == true)
            note.Public = false;
    }


    void checkPassNeed()
    {
        credentials.Password = "";

        if (notes.FirstOrDefault(i => i.NoteId == pressNoteId).Secure)
            isSecure = true;
        else
            isSecure = false;
    }

    async Task getNoteDetails()
    {
        var sanitizer = new HtmlSanitizer();
        var result = await Http.PostAsJsonAsync($"/api/Note/note-by-user?id={pressNoteId}", credentials);

        if (result.IsSuccessStatusCode)
        {
            note = await result.Content.ReadFromJsonAsync<NoteDisplayDto>();
            errorMessage = "";
            pressNoteId = 0;
        }
        else
        {
            errorMessage = await result.Content.ReadAsStringAsync();
        }
    }

    async Task AddNote()
    {
        note = new NoteDisplayDto
            {
                NoteId = -1,
                Title = "",
                Body = "",
                Public = true,
                Secure = false,
            };
        notePassword = "";
        pressNoteId = -4;
        NavManager.NavigateTo("/add-secure-note");

    }
    async Task AddSecureNote()
    {
        note = new NoteDisplayDto
            {
                NoteId = -1,
                Title = "",
                Body = "",
                Public = true,
                Secure = false,
            };
        notePassword = "";
        pressNoteId = -4;
        NavManager.NavigateTo("/add-note");

    }
}
