@page "/public-notes"
@using Notatnik.Shared.Dtos.NoteDto;
@inject HttpClient Http
@inject NavigationManager NavManager
@attribute [Authorize]
@using Ganss.Xss;

<h1>Public notes</h1>


@if (notes != null)
{
    @foreach (var n in notes)
    {
        <div style="display: flex; justify-content: center; align-items: center; ">
            <RadzenCard Style="width:60%; background-color:antiquewhite; margin-bottom:20px">
                <RadzenText TextStyle="TextStyle.H3">@n.Title</RadzenText>
                <hr style="border: none; background-color: rgba(0,0,10,1); height: 2px; margin: 1rem 0;" />

                <RadzenText TextStyle="TextStyle.H5">@(((MarkupString)n.Body))</RadzenText>
                </RadzenCard>
            </div>
    }

}
else
{
    <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">There is any public notes to dispaly</RadzenText>
}



@code {
    List<NoteDisplayDto> notes = new List<NoteDisplayDto>();
    protected override async Task OnInitializedAsync()
    {
        var sanitizer = new HtmlSanitizer();

        notes = await Http.GetFromJsonAsync<List<NoteDisplayDto>>($"/api/Note");

        notes.ForEach(e => e.Body = sanitizer.Sanitize(e.Body));

    }
}
