@page "/public-notes"
@using Notatnik.Shared.Dtos.NoteDto;
@inject HttpClient Http
@inject NavigationManager NavManager
@attribute [Authorize]
@using Ganss.Xss;

<h1>Public notes</h1>


@if (notes != null)
{
    @foreach (var n in notes)
    {
        <RadzenCard>
            <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">@n.Title</RadzenText>
            <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">@(((MarkupString)n.Body))</RadzenText>
            </RadzenCard>
    }

}
else
{
    <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">There is any public notes to dispaly</RadzenText>
}



@code {
    List<NoteDisplayDto> notes = new List<NoteDisplayDto>();
    protected override async Task OnInitializedAsync()
    {
        var sanitizer = new HtmlSanitizer();

        notes = await Http.GetFromJsonAsync<List<NoteDisplayDto>>($"/api/Note");

        notes.ForEach(e => e.Body = sanitizer.Sanitize(e.Body));

    }
}
