@page "/home"
@attribute [Authorize]

<PageTitle>Notatnik</PageTitle>

<h1>Notatnik!</h1>

<p>Aplikacja internetowa pozwala na przechowywanie notatek w sposób szyfrowany, dzięki czemu mogą być one bezpiecznie przechowywane i udostępniane. Aplikacja została zaprojektowana z myślą o prostocie obsługi i szybkim dostępie do notatek. Możliwe jest również dodawanie notatek w formacie markdown, co umożliwia lepsze formatowanie tekstu i dodawanie elementów takich jak linki czy listy.</p>
