@page "/login"
@inject HttpClient Http
@inject AuthenticationStateProvider AuthStateProvider
@inject NavigationManager NavigationManager
@inject ILocalStorageService LocalStorage
@using Notatnik.Server
@using Notatnik.Shared


@using Radzen
@using System.Text.Json

<div class="container my-4">

    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <RadzenTemplateForm TItem="UserLoginRequest" Data=@user Submit=@OnSubmit InvalidSubmit=@OnInvalidSubmit>
                <RadzenFieldset Text="Login">
                    <div class="row mb-5">
                        <div class="col-md-4">
                            <RadzenLabel Text="Email" />
                        </div>
                        <div class="col">
                            <RadzenTextBox style="display: block" Name="Email" @bind-Value=@user.Email Class="w-100" />
                            <RadzenRequiredValidator Component="Email" Text="Email is required" Popup=true Style="position: absolute" />
                            <RadzenEmailValidator Component="Email" Text="Provide a valid email address" Popup=true Style="position: absolute" />
                        </div>
                    </div>
                    <div class="row mb-5">
                        <div class="col-md-4">
                            <RadzenLabel Text="Password" />
                        </div>
                        <div class="col">
                            <RadzenPassword style="display: block" Name="Password" @bind-Value=@user.Password Class="w-100" />
                            <RadzenRequiredValidator Component="Password" Text="Password is required" Popup=true Style="position: absolute" />
                        </div>
                    </div>
                    <div class="text-danger">
                        <span>@errorMessage</span>
                    </div>
                    <RadzenButton ButtonType="ButtonType.Submit" Text="Submit"></RadzenButton>
                    <a href="/register">register</a>
                </RadzenFieldset>
            </RadzenTemplateForm>

        </div>
    </div>
</div>


@code {
    UserLoginRequest user = new UserLoginRequest();
    private string errorMessage = string.Empty;



    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity.Name != null)
        {
            NavigationManager.NavigateTo($"/home");

        }
    }

    async Task OnSubmit()
    {
        var result = await Http.PostAsJsonAsync("api/auth/login", user);

        if (!result.IsSuccessStatusCode)
        {
            //errorMessage = result.ReasonPhrase;
            Console.WriteLine($"There was an error! {errorMessage}");
            errorMessage = "Wrong Credentials";
            user.Email = "";
            user.Password = "";
            return;
        }

        var token = await result.Content.ReadAsStringAsync();
        //Console.WriteLine(token);

        await LocalStorage.SetItemAsync("token", token);
        await AuthStateProvider.GetAuthenticationStateAsync();


    }
    void Log(string eventName, string value)
    {
        //Console.WriteLine($"{eventName}: {value}");
    }
    void OnInvalidSubmit(FormInvalidSubmitEventArgs args)
    {
        //Log("InvalidSubmit", JsonSerializer.Serialize(args, new JsonSerializerOptions() { WriteIndented = true }));
    }
}