@inherits LayoutComponentBase
<AuthorizeView>
    <Authorized>
        <div class="page">
            <div class="sidebar">
                <NavMenu />
            </div>

            <main>
                <div class="d-flex px-4">
                    <LoginLogoutButton />
                    <NavLink class="nav-link" href="/notes" Match="NavLinkMatch.All">
                        <span class="oi oi-home" aria-hidden="true"></span> Notes
                    </NavLink>
                    <NavLink class="nav-link" href="/public-notes" Match="NavLinkMatch.All">
                        <span class="oi oi-home" aria-hidden="true"></span> Public Notes
                    </NavLink>
                </div>

                <article class="content px-4">
                    @Body
                </article>
            </main>
        </div>
    </Authorized>
    <NotAuthorized>
        <article class="content px-4">
            @Body
        </article>
    </NotAuthorized>
</AuthorizeView>